@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.container header {
  text-align: center;
  color: white;
  margin: 0;
  padding: 20px 0;
  font-weight: normal;
  text-transform: uppercase;
  transition: background 0.2s;
}

.container header span {
  display: block;
  font-size: 2.2em;
  text-shadow: 5px 5px 0px rgba(0,0,0,0.2);
}

.actions {
  height: 35px;
  background: white;
}

.actions button {
  text-transform: uppercase;
  border: none;
  background: none;
  color: steelblue;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  height: 100%;
  transition: color 0.2s, background 0.2s;
  cursor: pointer;
}

.actions button:hover,
.actions button.active {
  color: white;
  background: steelblue;
}

.actions .message {
  text-align: center;
  width: 190px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.squares {
  max-width: 660px;
  margin: 20px auto;
  flex-wrap: wrap;
}

.square {
  padding-top: 200px;
  border-radius: 8%;
  width: 200px; 
  margin: 10px;
  transition: background 0.2s;
  cursor: pointer;
}
